@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
.container{
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.site-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo:hover{
color: #DE2E54;
}
.logo:active{
  opacity: 0.6;
}
.site-header-link{
  padding-top: 24px;
  padding-bottom: 24.06px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list{
  margin-right: 114.5px;
  margin-left: 114.5px;
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-item{
  font-weight: bold;
  padding-right: 32px;
  color: #222222;
}
.nav-item:hover{
color: #DE2E54;
}
.nav-item:active{
   color: rgba(222, 46, 84, 0.6);
}
.link{
  padding: 12px 24px;
  border: 2px solid #DE2E54;
  background-color: #DE2E54;
  color: #FFFFFF;
  border-radius: 8px;
}
.link:hover{
background-color: rgba(255, 255, 255, 0.6);
color: #DE2E54;
}
.link:active{
  background-color: rgba(222, 46, 84, 0.6);
  color: rgba(254, 254, 254, 0.6);
}
.hero-link{
  margin-top: 36px;
}
.site-main-hero{
  background-color: #0EB4C1  ;
  color: #FFFFFF;
}
.site-hero-container{
  padding-top: 29px;
  display: flex;
  align-items: center;
}
.site-main-text{
padding-right: 237px;
}
.site-main-img{
  width: 423px;
  height: 504px;
}
.main-ceneter-bolim:not(:first-child){
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-ceneter-bolim1:not(:first-child){
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-ceneter-bolim2:not(:first-child){
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-ceneter-bolim3:not(:first-child){
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h2-text{
  padding-top: 127px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-center-link{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer{
  background-color:  #0EB4C1;
  color: #FFFFFF;
}
.site-footer-text{
  font-weight: 700;
font-size: 36px;
line-height: 120%;
  padding-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-footer-link{
  padding-top: 40px;
  padding-bottom: 64px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-footer-nav-link{
  background-color: #222222;
}
.site-footer-nav{
  padding-top: 19.235px;
  padding-bottom: 19.235px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-footer-nav-list{
  margin-right: 138.5px;
  display: flex;
  align-items: center;
  list-style: none;
}
.footer-link{
  margin-right: 44px;
  padding: 12px 24px;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  color: #FFFFFF;
}
.footer-link:hover{
background-color: #DE2E54;
}
.footer-link:active{
  background-color: rgba(222, 46, 84, 0.6);
  color: rgba(254, 254, 254, 0.6);
}
.footer-nav-item{
  padding-right: 32px;
  color: #FFFFFF;
  text-decoration: none;
}
.footer-nav-item:hover{
  color: #DE2E54;
  }
  .footer-nav-item:active{
    color: rgba(222, 46, 84, 0.6);
  }
a{
  text-decoration: none;
}
h2{
  font-weight: bold;
}
h3{
    font-weight: bold;
}
h4{
font-weight: bold;
}
html{
scroll-behavior: smooth;
}
.service-container{
  max-width: 904px;
}